.apartment-wrapper{
    margin : 2rem;
    margin-top:0;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.apartment-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.apartment-container h1{
    font-size: 36px;
    color : var(--primary-color);
    font-weight: 500;
}

.apartment-container h4{
    color: var(--primary-color);
    margin: 1rem;
    margin-left:0;
}

.tags-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*Avartar section*/
.avatar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.star-container{
margin-top: 2rem;
}

/*Articel section : deacription adn equipment*/
.article-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 3rem;
}

@media only screen and (max-width: 800px)  {
    .apartment-wrapper{
        margin:1rem;
    }
    .apartment-container h1{
        font-size: 24px;
        color : var(--primary-color);
        font-weight: 500;
    }
    .apartment-container h4{
        margin:0.5rem;
        margin-left:0;
        font-size: 14px;
        font-weight: 500;
    }    
    .star-container svg{
        height: 16px;
        width: 16px;
    }
    .star-container{
        margin-top: 0.5rem;
    }
}
@media only screen and (max-width: 450px)  {
    .apartment-container h1{
        font-size: 18px;
    }

}
