.aboutDropdown-container{
    background-color: var(--secondary-color);
    width: 80%;
    height:fit-content;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin:1rem;
}
.aboutDropdown-header{
    border-radius: 5px;
    height: 47px;
    color:white;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.aboutDropdown-text{
    padding: 1rem;
}

@keyframes turn{
    0%{
        transform: rotate(deg)
    }
    100%{
        transform: rotate(180deg)
    }
}

.notAnimate{
    cursor: pointer;
}

.animate{
    cursor: pointer;
    animation: turn ease-in-out 0.5s 1 forwards;
}