.apartment-wrapper{
    margin : 2rem;
    margin-top:0;
}
.apartment-gallery{
    height: 410px;
    width: 100%;
    border-radius: 25px;
    overflow: hidden;
    margin-bottom: 2rem;
}
.apartment-gallery img{
    width: 100%;
    height:100%;
    object-fit: cover;
}
.apartment-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}
.apartment-container h1{
    font-size: 36px;
    color : var(--primary-color);
    font-weight: 500;
}

.apartment-container h4{
    color: var(--primary-color);
    margin: 1rem;
    margin-left:0;
}

.tags-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

/*Avartar section*/
.avatar-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.avatar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.avatar-container p{
    padding-right:1rem;
    text-align: right;
    max-width:90px;
    font-size: 18px;
    word-wrap:break-word;
    color: var(--primary-color);
    line-height: 1.8rem;
}

.avatar{
    height:64px ;
    width: 64px;
    border-radius: 50%;
    background-color: gray;
    overflow: hidden;
}

.avatar img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.star-red{
    color: var(--primary-color)
}
.star-gray{
    color: var(--secondary-color)
}