.aboutDropdown-container{
    background-color: var(--secondary-color);
    width: 100%;
    height:fit-content;
    border-radius: 5px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;
}

.aboutDropdown-header{
    border-radius: 5px;
    height: 47px;
    color:white;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.aboutDropdown-text{
    padding: 1rem;
    animation: show ease-in-out 3s 1 forwards;
    color:var(--primary-color);
}
.arrowdown-icon{
    font-size: 24px;
}
@keyframes show{
    0%{
        transform: translateY(50px, 100px)
    }
    100%{
        transform: translateY(50px, 18px)
    }
}


@keyframes turn{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(180deg)
    }
}

.notAnimate{
    cursor: pointer;
}

.animate{
    cursor: pointer;
    animation: turn ease-in-out 0.5s 1 forwards;
}

@media only screen and (max-width: 430px)  {
    .aboutDropdown-container{
        margin-bottom: 20px;
    }
    .aboutDropdown-header{
        height: 30px;
    }
    .aboutDropdown-header h3{
        font-size : 13px;
        font-weight: 500;
    }
    
    .aboutDropdown-text{
        font-size : 12px;
        font-weight: 400;
    }

}