.carousel-container{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin-bottom: 2rem;
    overflow: hidden;
}

.btn{
    flex : 5%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.center{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 90%;
    padding-bottom : 2rem; 
    color: white;
}
.next , .prev{
font-size: 36px;
color: white;
}
