.carousel-container{
    display: flex;
    flex-direction: row;
    height: 400px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 25px;
    margin-bottom: 2rem;
    overflow: hidden;
}

.carousel-container svg{
    padding: 1rem;
}

.btn{
    flex : 5%;
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    z-index: 10;
    cursor: pointer;
}
.btn:hover{
    background-color: rgba(0, 0, 0, 0.2);
}
.center{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex: 90%;
    color: white;
    padding-bottom : 2rem; 
    
}
.next , .prev{

    color: white;
}

@media only screen and (max-width: 1025px)  {
    .carousel-container svg{
        padding: 1rem;
    }
    .center {
        flex: 90;
    }
    .btn{
        flex:5;
    }

}
@media only screen and (max-width: 500px)  {
    .carousel-container{
        height: 255px ;
        border-radius: 10px !important; 
    }
   
    .apartment-header{
        flex-direction: column;
    }
    .avatar-wrapper{
        width: 100%;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .avatar-container p{
        font-size:12px ;
    }

    .center{
        font-size: 14px;
    }
    .article-container{
        grid-template-columns: repeat(1,1fr);
    }
}