.Footer-container{
    background-color: black;
    color: white;
    display: flex;  
    flex-direction: column;
    align-items: center;
   
    width: 100%;
    bottom: 0;
    padding: 1rem;
}

.Footer-container svg{
fill:white;
margin: 1rem;
}